body {
    font-family: Raleway;
    width: 100% !important;
    padding: 0px !important;
    margin: 0pc !important
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.navbar {
    background-color: white;
    border: none;
    box-shadow: 0px 0px 15px grey;
    height: 9rem !important;
    position: fixed;
    width: 100%;
    z-index: 200;
    border-radius: 0px !important
}

.navbar-brand img {
    width: 300px;
}

.navbar ul {
    margin-top: 2rem;
    font-weight: 500
}

.navbar li>a {
    color: #e62121 !important;
    font-size: 1.5rem
}

.banner {
    min-height: 100vh;
    background-image: url('../assets/back.jpg');
    background-size: cover;
}

nav {
    margin: 0 !important;
    padding: 0 !important;
}

.tagline {
    font-size: 12rem;
    font-weight: bolder;
    width: 40%;
    line-height: 10rem;
    margin-top: 35%;
    color: white;
    opacity: 0.9
}

.button {
    color: white;
    background-color: #e62221;
    display: inline-block;
    padding: 2rem 4rem;
    font-size: 2rem;
    margin-top: 5rem;
    border: 2px solid #e62221;
    transition: 0.2s;
    z-index: 100;
    position: absolute;
}

.redBox {
    background-color: #e62221;
    padding: 1rem;
    color: white;
    text-align: center;
    border-radius: 0px 30px
}

.visionHead {
    font-size: 3rem;
    font-weight: bold;
    color: white
}

.visionText {
    font-size: 2.2rem;
}

a {
    color: white;
    text-decoration: none
}

a:hover {
    text-decoration: none;
    color: white
}

.button:hover {
    cursor: pointer
}

.section1 {
    background-image: url('../assets/wallpaper-gym-red.jpg');
    color: white;
    text-align: center;
    font-size: 2.5rem;
    padding: 0rem 0rem 3rem 0rem
}

.sec {
    padding: 6rem 4rem 0rem 4rem
}

.secHead {
    color: grey;
    font-size: 4rem
}

.secText {
    font-size: 1.5rem;
    text-align: justify
}

#changeRed {
    color: #ed3237 !important;
    font-weight: 700
}

.secLeft,
.secRight {
    display: inline-block
}

.secButton {
    background-color: #e43d45;
    display: inline-block;
    padding: 1rem 3rem;
    margin-top: 2rem;
    color: white;
    font-size: 2rem
}

.secLeft {
    width: 50%;
}

.secRight {
    width: 40%;
}

.secRight img {
    width: 100%;
    margin-left: 15%
}

.sectionText {
    font-size: 1.7rem;
    padding: 1rem 10%
}

.pricing {
    padding: 4rem
}

.sideCard,
.midCard {
    background-color: #ececec
}

.about .row {
    width: 100%;
    padding: 0;
    margin: 0
}

.about .col-md-4 {
    padding: 0;
    margin: 0;
}

.aboutIcon img {
    width: 30%
}

.aboutSection {
    background-color: #f7f7f7;
    text-align: center;
    padding: 8rem 2rem !important
}

.aboutSection1 {
    background-color: #ececec;
    text-align: center;
    padding: 8rem 2rem !important
}

.aboutName {
    font-size: 2rem;
    font-weight: 500;
    color: grey;
    margin-top: 1.5rem
}

.aboutLine {
    background-color: #e43d45;
    width: 60%;
    margin: 2rem 0rem;
    margin-left: 20%;
    height: 2px
}

.phoneLeft {
    width: 30%;
    display: inline-block;
}

.phoneLeft img {
    width: 60%;
    margin-top: -5rem
}

.phoneTitle {
    font-weight: 700;
    text-align: center;
    font-size: 4rem
}

.phoneText {
    text-align: left;
    font-size: 1.5rem
}

.phoneRight {
    width: 65%;
    display: inline-block;
}

.cardHead {
    height: 4rem;
}

.midCard .cardHead {
    background-color: #e62221;
    color: white;
    text-align: center;
    padding: 1rem;
}

.sideCard .cardHead {
    background-color: white;
}

.title {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
}

.subtext {
    margin-bottom: 1rem
}

.subtext,
.cardText {
    padding: 0rem 1rem;
}

.cardPrice {
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold
}

.sideCard .cardFooter {
    background-color: #4b73ce;
    padding: 1rem;
    color: white
}

.midCard .cardFooter {
    background-color: #e62221;
    padding: 1rem;
    color: white
}

.stayfit {
    color: #ffffff;
    font-family: arial;
    font-weight: bolder;
    font-size: 26rem;
    position: absolute;
    top: 26rem;
    line-height: 26rem;
    opacity: 0.1;
    right: 0;
    background-color: transparent;
}

.academy {
    color: #ffffff;
    font-family: arial;
    font-weight: bolder;
    font-size: 28rem;
    position: absolute;
    bottom: 0;
    opacity: 0.1;
}

.phoneText img {
    width: 100%
}

.footer {
    background-color: #707170;
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.2rem
}

.benefitImage {
    height: 230px;
    overflow: hidden
}

.benefit {
    margin-top: 2rem;
    background-color: white;
    color: grey;
    font-size: 1.8rem;
}

.benefit img {
    width: 100%;
    margin-top: -4rem
}

.benefitsTitle {
    margin-top: 1rem
}

.benefit ul {
    text-align: left;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding-bottom: 1rem
}

.subjects {
    margin-top: 2rem
}

.subject {
    background-color: #e62221;
    color: white;
    text-align: center;
    padding: 1rem
}

.contact {
    background-color: #000000;
    color: white;
    text-align: center;
}

.socialMedia i {
    background-color: #e62221;
    color: white;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
}

.contact img {
    filter: saturate(0) invert(1);
    width: 150px
}

.contact ul {
    list-style-type: none;
    margin-left: -4rem;
    margin-top: 1rem
}

.contact li {
    display: inline-block
}

.contactHead {
    font-size: 1.7rem;
}

.membership {
    background-image: url('../assets/membership.jpg');
    padding: 4rem 0rem;
    background-size: cover
}

.memberHeading {
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: bolder
}

.memberText {
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.memberRow {
    margin: 0rem 0rem;
    padding: 1rem 0rem;
    color: white;
    border-top: 100px solid #e43d4594;
    border-right: 80px solid transparent;
    height: 0;
    margin-top: -10px
}

.memberHead {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-top: -100px
}

.memberItem {
    margin-top: 8rem
}

.story {
    background-image: url('../assets/story.jpg');
    background-size: cover;
    padding: 8rem 4rem 0rem 3rem;
    min-height: 80vh;
    background-position: right
}

.storyHead {
    text-align: right;
    font-size: 5rem;
    font-weight: bolder;
    color: #ed3137
}

.storyText {
    font-size: 1.5rem;
    margin-top: 3rem;
    text-align: justify
}

.circles {
    text-align: center;
    margin-top: 4rem
}

.mission,
.vision {
    background-color: #ed3137;
    width: 220px;
    height: 220px;
    display: inline-block;
    border-radius: 50%;
    color: white;
    padding: 3.5rem;
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
    margin-left: 4rem;
    margin-bottom: 1rem
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle {
    background-color: #333;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border: none
}

.contact iframe {
    width: 100%;
    height: 200px;
    margin-top: 1rem
}

.contactFormHead {
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 3rem
}

.contact .container {
    width: 100%;
    background-color: #252525;
}

.contact label,
.contact input,
.contact button,
.contact select,
.container textarea {
    width: 100%;
    text-align: left;
}

.contact input,
.contact select {
    height: 4rem;
    padding: 1rem;
    border-radius: 0 !important;
    border: 0,
}

.contact input,
.contact select,
.contact textarea {
    padding: 1rem;
    margin-bottom: 1rem;
    color: grey
}

.contact button {
    background-color: #e43d45;
    border: none;
    outline: none;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem
}

.contactContainer {
    padding: 2rem;
    margin-bottom: 2rem;
}

.contact {
    padding-bottom: 2rem
}

@media screen and (max-width:1000px) {
    .memberRow {
        margin: 2rem 0rem;
        padding: 0rem 3rem 1rem 3rem;
        color: white;
        border-top: 130px solid #e43d4594;
        border-right: 90px solid transparent;
        margin-top: 0px
    }
    .optionName,
    .optionPrice {
        font-size: 1.3rem !important
    }
    .memberHead {
        margin-top: -120px;
    }
    .story {
        background-image: none;
        background-color: #f5f5f5;
        background-position: right;
    }
    .circles {
        text-align: center;
        margin-top: 1rem
    }
    .mission,
    .vision {
        background-color: #ed3137;
        width: 150px;
        height: 150px;
        display: inline-block;
        border-radius: 50%;
        color: white;
        padding: 2rem;
        font-weight: bolder;
        text-align: center;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .storyText {
        margin-left: 0
    }
    .navbar-brand img {
        width: 200px;
        margin-top: 1.2rem
    }
    .navbar {
        width: 100vw;
    }
    .navbar-header {
        width: 100vw;
    }
    .stayfit {
        display: none;
    }
    .tagline {
        font-size: 4.5rem !important;
        line-height: 5rem !important;
        margin-top: 100% !important
    }
    .mission,
    .vision {
        margin-left: 0
    }
}

@media screen and (max-width: 800px) {
    .contact .col-md-6,
    .contact .col-md-12 {
        padding: 0
    }
    .storyHead {
        font-size: 3rem
    }
    .storyHead {
        text-align: center
    }
    .navbar-inverse .navbar-toggle,
    .navbar-inverse .navbar-toggle {
        background-color: #333;
        margin-top: 3rem;
        margin-bottom: 2rem;
        border: none
    }
    .navbar ul {
        margin-top: 0rem;
        font-weight: 500;
        background-color: white;
    }
    .visionHead {
        font-size: 2rem;
        font-weight: bold;
        color: white
    }
    .visionText {
        font-size: 1.6rem;
    }
    .navbar li>a {
        color: #e62121 !important;
        font-size: 1.5rem
    }
    .banner {
        background-position: left
    }
    .tagline {
        font-size: 6rem;
        line-height: 7rem;
        margin-top: 50%
    }
    .sec {
        padding: 2rem 2rem 0rem 2rem;
    }
    .secHead {
        color: grey;
        font-size: 3rem
    }
    .secLeft,
    .secRight {
        display: inline-block
    }
    .secLeft {
        width: 100%;
        padding: 2rem
    }
    .secRight {
        display: none;
        width: 40%;
        margin-left: 50%
    }
    .section1 {
        font-size: 0rem;
        padding: 7rem 3rem
    }
    .aboutSection {
        padding: 2rem !important
    }
    .aboutSection1 {
        padding: 2rem !important
    }
    .optionName,
    .optionPrice {
        font-size: 1rem !important
    }
    .aboutName {
        font-size: 1.5rem
    }
    .aboutHead {
        font-size: 3rem;
    }
    .aboutText {
        font-size: 1.3rem;
    }
    .aboutButton {
        margin-left: 35%;
        margin-top: 1rem
    }
    .sectionText {
        font-size: 1.7rem;
        padding: 1rem 10%
    }
    .pricing {
        padding: 4rem
    }
    .sideCard,
    .midCard {
        background-color: #ececec
    }
    .cardHead {
        height: 4rem;
    }
    .midCard .cardHead {
        background-color: #e62221;
        color: white;
        text-align: center;
        padding: 1rem;
    }
    .sideCard .cardHead {
        background-color: white;
    }
    .title {
        padding: 1rem;
        font-size: 2rem;
        font-weight: 500;
    }
    .subtext {
        margin-bottom: 1rem
    }
    .subtext,
    .cardText {
        padding: 0rem 1rem;
    }
    .cardPrice {
        padding: 1rem;
        font-size: 2rem;
        font-weight: bold
    }
    .sideCard .cardFooter {
        background-color: #4b73ce;
        padding: 1rem;
        color: white
    }
    .midCard .cardFooter {
        background-color: #e62221;
        padding: 1rem;
        color: white
    }
    .stayfit {
        color: #ffffff;
        font-family: arial;
        font-weight: bolder;
        font-size: 16rem;
        position: absolute;
        top: 28rem;
        opacity: 0.1;
        right: 0;
        line-height: 16rem;
    }
    .academy {
        color: #e62221;
        font-family: arial;
        font-weight: bolder;
        font-size: 28rem;
        position: absolute;
        bottom: 0;
        opacity: 0.1;
        right: 0
    }
    .footer {
        background-color: #707170;
        color: white;
        text-align: center;
        padding: 0.5rem
    }
    .benefitImage {
        height: 160px;
        overflow: hidden
    }
    .benefit {
        margin-top: 2rem;
        background-color: white;
        color: grey;
        font-size: 1.8rem;
    }
    .benefit img {
        width: 100%;
        margin-top: 0rem
    }
    .benefitsTitle {
        margin-top: 1rem
    }
    .benefit ul {
        text-align: left;
        font-size: 1.5rem;
        margin-top: 1rem;
        padding-bottom: 1rem
    }
    .subjects {
        margin-top: 2rem
    }
    .subject {
        background-color: #e62221;
        color: white;
        text-align: center;
        padding: 1rem;
        margin-top: 0.5rem
    }
    .memberRow {
        margin: 2rem 0rem;
        padding: 0rem 3rem 1rem 3rem;
        color: white;
        border-top: 130px solid #e43d4594;
        border-right: 90px solid transparent;
        margin-top: -20px
    }
    .memberHead {
        margin-top: -120px;
    }
    .memberText {
        width: 80%;
        margin-left: 10%;
    }
    .phoneLeft {
        width: 100%;
    }
    .phoneRight {
        width: 100%;
    }
    .phoneTitle {
        font-size: 2rem;
        text-align: center;
        margin-top: 2rem
    }
}