body {
    font-family: Raleway;
}

.navbar {
    background-color: white;
    border: none;
    box-shadow: 0px 0px 15px grey;
    height: 9rem !important;
    position: fixed;
    width: 100%;
    z-index: 200;
    border-radius: 0px !important
}

.navbar-brand img {
    width: 250px;
}

.navbar ul {
    margin-top: 2rem;
    font-weight: 500
}

.navbar li>a {
    color: #e62121 !important;
    font-size: 1.5rem
}

.banner {
    min-height: 100vh;
    background-image: url('../assets/back.jpg');
    background-size: cover;
}

nav {
    margin: 0 !important;
    padding: 0 !important;
}

.tagline {
    font-size: 12rem;
    font-weight: bolder;
    width: 40%;
    line-height: 10rem;
    margin-top: 35%;
    color: white;
    opacity: 0.9
}

.button {
    color: white;
    background-color: #e62221;
    display: inline-block;
    padding: 2rem 4rem;
    font-size: 2rem;
    margin-top: 5rem;
    border: 2px solid #e62221;
    transition: 0.2s;
    z-index: 100;
    position: absolute;
}

a {
    color: white;
    text-decoration: none
}

a:hover {
    text-decoration: none;
    color: white
}

.button:hover {
    cursor: pointer
}

.section1 {
    background-image: url('../assets/wallpaper-gym-red.jpg');
    color: white;
    text-align: center;
    font-size: 2.5rem;
    padding: 0rem 0rem 3rem 0rem
}

.sec {
    padding: 4rem 4rem 0rem 4rem
}

.secHead {
    color: grey;
    font-size: 4rem
}

#changeRed {
    color: #ed3237 !important;
    font-weight: 700
}

.secLeft,
.secRight {
    display: inline-block
}

.secButton {
    background-color: #e43d45;
    display: inline-block;
    padding: 1rem 3rem;
    margin-top: 2rem;
    color: white;
    font-size: 2rem
}

.secLeft {
    width: 50%;
}

.secRight {
    width: 40%;
}

.secRight img {
    width: 100%;
    margin-left: 15%
}

.sectionText {
    font-size: 1.7rem;
    padding: 1rem 10%
}

.pricing {
    padding: 4rem
}

.sideCard,
.midCard {
    background-color: #ececec
}

.about .row {
    width: 100%;
    padding: 0;
    margin: 0
}

.about .col-md-3 {
    padding: 0;
    margin: 0;
}

.aboutIcon img {
    width: 30%
}

.aboutSection {
    background-color: #f7f7f7;
    text-align: center;
    padding: 8rem 2rem !important
}

.aboutSection1 {
    background-color: #ececec;
    text-align: center;
    padding: 8rem 2rem !important
}

.aboutName {
    font-size: 2rem;
    font-weight: 500;
    color: grey;
    margin-top: 1.5rem
}

.aboutLine {
    background-color: #e43d45;
    width: 60%;
    margin: 2rem 0rem;
    margin-left: 20%;
    height: 2px
}

.phoneLeft {
    width: 30%;
    display: inline-block;
}

.phoneLeft img {
    width: 60%;
    margin-top: -5rem
}

.phoneTitle {
    font-weight: 700;
    text-align: left;
    font-size: 4rem
}

.phoneText {
    text-align: left;
    font-size: 1.5rem
}

.phoneRight {
    width: 65%;
    display: inline-block;
}

.cardHead {
    height: 4rem;
}

.midCard .cardHead {
    background-color: #e62221;
    color: white;
    text-align: center;
    padding: 1rem;
}

.sideCard .cardHead {
    background-color: white;
}

.title {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
}

.subtext {
    margin-bottom: 1rem
}

.subtext,
.cardText {
    padding: 0rem 1rem;
}

.cardPrice {
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold
}

.sideCard .cardFooter {
    background-color: #4b73ce;
    padding: 1rem;
    color: white
}

.midCard .cardFooter {
    background-color: #e62221;
    padding: 1rem;
    color: white
}

.stayfit {
    color: #ffffff;
    font-family: arial;
    font-weight: bolder;
    font-size: 26rem;
    position: absolute;
    top: 26rem;
    opacity: 0.2;
    right: 0;
}

.academy {
    color: #ffffff;
    font-family: arial;
    font-weight: bolder;
    font-size: 28rem;
    position: absolute;
    bottom: 0;
    opacity: 0.1;
}

.footer {
    background-color: #707170;
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.2rem
}

.benefitImage {
    height: 230px;
    overflow: hidden
}

.benefit {
    margin-top: 2rem;
    background-color: white;
    color: grey;
    font-size: 1.8rem;
}

.benefit img {
    width: 100%;
    margin-top: -4rem
}

.benefitsTitle {
    margin-top: 1rem
}

.benefit ul {
    text-align: left;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding-bottom: 1rem
}

.subjects {
    margin-top: 2rem
}

.subject {
    background-color: #e62221;
    color: white;
    text-align: center;
    padding: 1rem
}

.contact {
    background-color: #000000;
    color: white;
    padding: 2rem;
    text-align: center;
}

.socialMedia i {
    background-color: #e62221;
    color: white;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
}

.contact img {
    filter: saturate(0) invert(1);
    width: 150px
}

.contact ul {
    list-style-type: none;
    margin-left: -4rem;
    margin-top: 1rem
}

.contact li {
    display: inline-block
}

.contactHead {
    font-size: 1.7rem;
}

@media screen and (max-width: 600px) {
    .navbar-inverse .navbar-toggle,
    .navbar-inverse .navbar-toggle {
        background-color: #333;
        margin-top: 3rem;
        margin-bottom: 2rem;
        border: none
    }
    .navbar ul {
        margin-top: 0rem;
        font-weight: 500;
        background-color: white;
    }
    .navbar li>a {
        color: #e62121 !important;
        font-size: 1.5rem
    }
    .banner {
        background-position: center
    }
    .tagline {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .section1 {
        font-size: 2rem;
        padding: 7rem 3rem
    }
    .about {
        padding: 5rem 3rem
    }
    .aboutHead {
        font-size: 3rem;
    }
    .aboutText {
        font-size: 1.6rem;
        text-align: center;
        padding: 0rem;
        margin-top: 1rem
    }
    .aboutButton {
        margin-left: 35%;
        margin-top: 1rem
    }
    .sectionText {
        font-size: 1.7rem;
        padding: 1rem 10%
    }
    .pricing {
        padding: 4rem
    }
    .sideCard,
    .midCard {
        background-color: #ececec
    }
    .cardHead {
        height: 4rem;
    }
    .midCard .cardHead {
        background-color: #e62221;
        color: white;
        text-align: center;
        padding: 1rem;
    }
    .sideCard .cardHead {
        background-color: white;
    }
    .title {
        padding: 1rem;
        font-size: 2rem;
        font-weight: 500;
    }
    .subtext {
        margin-bottom: 1rem
    }
    .subtext,
    .cardText {
        padding: 0rem 1rem;
    }
    .cardPrice {
        padding: 1rem;
        font-size: 2rem;
        font-weight: bold
    }
    .sideCard .cardFooter {
        background-color: #4b73ce;
        padding: 1rem;
        color: white
    }
    .midCard .cardFooter {
        background-color: #e62221;
        padding: 1rem;
        color: white
    }
    .stayfit {
        color: #e62221;
        font-family: arial;
        font-weight: bolder;
        font-size: 26rem;
        position: absolute;
        top: 28rem;
        opacity: 0.1;
        right: 0;
    }
    .academy {
        color: #e62221;
        font-family: arial;
        font-weight: bolder;
        font-size: 28rem;
        position: absolute;
        bottom: 0;
        opacity: 0.1;
        right: 0
    }
    .footer {
        background-color: #707170;
        color: white;
        text-align: center;
        padding: 0.5rem
    }
    .benefitImage {
        height: 160px;
        overflow: hidden
    }
    .benefit {
        margin-top: 2rem;
        background-color: white;
        color: grey;
        font-size: 1.8rem;
    }
    .benefit img {
        width: 100%;
        margin-top: 0rem
    }
    .benefitsTitle {
        margin-top: 1rem
    }
    .benefit ul {
        text-align: left;
        font-size: 1.5rem;
        margin-top: 1rem;
        padding-bottom: 1rem
    }
    .subjects {
        margin-top: 2rem
    }
    .subject {
        background-color: #e62221;
        color: white;
        text-align: center;
        padding: 1rem;
        margin-top: 0.5rem
    }
}